<div class="login-block">
	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
      <div class="col-md-6 signfrm">			
				<form class="prf-logn" role="form" name="signup_form" class="ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ng-valid-minlength ng-valid-maxlength ng-valid-email">				    	 
          <p align="center">Cleaner SignUp</p>
          <div class="prf-logn-wrapper">	
            <div class="form-group" ng-class="{'has-error': signup_form.email.$dirty && signup_form.email.$invalid, 'has-success': !signup_form.email.$invalid}">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input type="email" ng-model="cleanersignup.email" name="email" class="form-control log" placeholder="Email Address" required="required">
              </div>
              <span ng-show="signup_form.email.$error.required"></span>
              <span ng-show="signup_form.email.$error.email" class="err-messg">Please enter valid email. Ex. example@example.com</span>							
            </div>

            <div class="form-group" ng-class="{'has-error': signup_form.phone.$dirty && signup_form.phone.$invalid, 'has-success': !signup_form.phone.$invalid}">		               
              <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"><i class="glyphicon glyphicon-earphone"></i></span>
                <input type="text" placeholder="Phone Number" ng-minlength="10" ng-maxlength="12" name="phone" class="form-control log" ng-model="cleanersignup.phone" required="required">
              </div>
              <span ng-show="signup_form.phone.$error.required"></span>
              <span ng-show="signup_form.phone.$error.minlength" class="err-messg">Phone No.required Minimum 10 Digits</span>
              <span ng-show="signup_form.phone.$error.maxlength" class="err-messg">Password required Maximum 12 Digits.</span>
            </div>

            <div class="form-group" ng-class="{'has-error': signup_form.password.$dirty && signup_form.password.$invalid, 'has-success': !signup_form.password.$invalid}">		               
              <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" placeholder="Password" ng-minlength="6" ng-maxlength="25" name="password" class="form-control log" ng-model="cleanersignup.password" required="required">
              </div>
              <span ng-show="signup_form.password.$error.required"></span>
              <span ng-show="signup_form.password.$error.minlength" class="err-messg">Password required Min 5 symbols.</span>
              <span ng-show="signup_form.password.$error.maxlength" class="err-messg">Password required Max 25 symbols.</span>
              <span ng-show="signup_form.password.$error.pattern" class="err-messg">Password required only a-zA-Z0-9_ symbols.</span>
            </div>

            <div class="form-group" ng-class="{'has-error': signup_form.confirm_password.$dirty && signup_form.confirm_password.$invalid, 'has-success': !signup_form.confirm_password.$invalid}">              			
              <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" placeholder=" Confirm Password" name="confirm_password" class="form-control log" placeholder="Confirm Password" ng-model="cleanersignup.confirm_password" required="required"/>
              </div>
              <span ng-show="signup_form.confirm_password.$error.required"></span>
              <span class="err-messg" ng-show="cleanersignup.password != cleanersignup.confirm_password && (cleanersignup.confirm_password|| submitted)">Confirm Password does not match.</span>
            </div>
          
            <div class="form-group form-btns loginbtn">
              <button type="submit" class="btn btn-primary btn-main btn-popup loginbtn"  ng-disabled="signup_form.$invalid" ng-click="cleanersignup(cleanersignup)">Sign Up</button>
            </div>
                
            <div class="form-group new-section">
              <a class="floatLeft" href="#/login"> Already Registered? Login Here</a>
            </div>
            
            <div class="sn-logo">
              <img src ="images/fb.png" ng-click="socialCleanerRegister('facebook')" class="cursor-pointer">
              <img src ="images/g+.png"ng-click="socialCleanerRegister('google')" class="cursor-pointer">
            </div>
                
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
