<div class="container">
  <div class='customer-edit'>
    <form name="customerForm">
      <table class="table">
          <tbody>
            <tr>
              <td>First Name</td>
              <td></td>
              <td><div class="form-group" ng-class="{'has-error': customerForm.firstname.$dirty && customerForm.firstname.$invalid, 'has-success': !customerForm.firstname.$invalid}">
                    <input class="form-control" ng-pattern="/[a-zA-Z]$/" ng-model="currentUser.firstname" required="required" ng-minlength="5" ng-maxlength="12" maxlength="100" type="text" name="firstname"/>
                    <span ng-show="customerForm.firstname.$error.required"></span>
                    <span ng-show="customerForm.firstname.$error.minlength" class="text-danger">Firstname required Min 5 symbols.</span>
                    <span ng-show="customerForm.firstname.$error.maxlength" class="text-danger">Firstname required Max 12 symbols.</span>
                    <span ng-show="customerForm.firstname.$error.pattern" class="text-danger">Firstname required only a-zA-Z_ symbols.</span>
                  </div></td>
            </tr>
            <tr>
              <td>Last Name</td>
              <td></td>
              <td><div class="form-group" ng-class="{'has-error': customerForm.lastname.$dirty && customerForm.lastname.$invalid, 'has-success': !customerForm.lastname.$invalid}">
                    <input class="form-control" ng-pattern="/[a-zA-Z]$/" ng-model="currentUser.lastname" required="required" maxlength="100" type="text" name="lastname"  ng-minlength="5" ng-maxlength="12"/>
                    <span ng-show="customerForm.lastname.$error.required"></span>
                    <span ng-show="customerForm.lastname.$error.minlength" class="text-danger">Lastname required Min 5 symbols.</span>
                    <span ng-show="customerForm.lastname.$error.maxlength" class="text-danger">Lastname required Max 12 symbols.</span>
                    <span ng-show="customerForm.lastname.$error.pattern" class="text-danger">Lastname required only a-zA-Z_ symbols.</span>
                  </div></td></td>
            </tr>
            <tr>
              <td>Phone No</td>
              <td></td>
              <td><div class="form-group" ng-class="{'has-error': customerForm.phone.$dirty && customerForm.phone.$invalid, 'has-success': !customerForm.phone.$invalid}">
                    <input class="form-control" ng-model="currentUser.phone" required="required" maxlength="100" type="text" name="phone" ng-pattern="/^\d+$/" ng-minlength="10" ng-maxlength="12"/>
                    <span ng-show="customerForm.phone.$error.required"></span>
                    <span ng-show="customerForm.phone.$error.minlength" class="text-danger">Phone required Min 10 digit.</span>
                    <span ng-show="customerForm.phone.$error.maxlength" class="text-danger">Phone required Max 12 digit.</span>
                    <span ng-show="customerForm.phone.$error.pattern" class="text-danger">Phone required only 0-9_ digit.</span>
                  </div></td>
            </tr>
            <tr>
              <td>Address</td>
              <td></td>
              <td><div class="form-group" ng-class="{'has-error': customerForm.address1.$dirty && customerForm.address1.$invalid, 'has-success': !customerForm.address1.$invalid}">
                    <input class="form-control" ng-model="currentUser.address1" placeholder="123 Street Name" required="required" maxlength="100" type="text" name="address1"/>
                  </div></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td><div class="form-group" ng-class="{'has-error': customerForm.address2.$dirty && customerForm.address2.$invalid, 'has-success': !customerForm.address2.$invalid}">
                    <input class="form-control" ng-model="currentUser.address2" placeholder="Apartment#" required="required" maxlength="100" type="text" name="address2"/>
                  </div></td>
            </tr>
            <tr>
              <td>City</td>
              <td></td>
              <td><div class="form-group" ng-class="{'has-error':customerForm.city.$dirty && customerForm.city.$invalid,'has-success':!customerForm.city.$invalid}">
                    <input class="form-control" ng-model="currentUser.city"  maxlength="100" type="text" name="city"/>
                  </div></td>
            </tr>
            <tr>
              <td>State</td>
              <td></td>
              <td><div class="form-group" ng-class="{'has-error':customerForm.state.$dirty && customerForm.state.$invalid,'has-success':!customerForm.state.$invalid}">
                    <select class="form-control select-control" ng-model="currentUser.state" name="state" required >
                        <option value=''>- Please Choose State -</option>
                        <option ng-repeat="state in states">{{state.StateName}}</option>
                    </select>
                    <span ng-show="customerForm.state.$error.required"></span>
                  </div></td>
            </tr>
            <tr>
              <td>Zip Code</td>
              <td></td>
              <td><div class="form-group" ng-class="{'has-error':customerForm.zip_code.$dirty && customerForm.zip_code.$invalid,'has-success':!customerForm.zip_code.$invalid}">
                    <input class="form-control" ng-minlength="5" ng-maxlength="6" ng-model="currentUser.zip_code"  ng-pattern="/^\d+$/" maxlength="100" type="text" name="zip_code"/>
                    <span ng-show="customerForm.zip_code.$error.minlength" class="text-danger">Zip Code required Minimum 5 Digits.</span>
                    <span ng-show="customerForm.zip_code.$error.maxlength" class="text-danger">Zip Code required Maximum 6 Digits.</span>
                    <span ng-show="customerForm.zip_code.$error.pattern" class="text-danger">Invalid Zip Code!</span>
                  </div></td>
            </tr>
            <tr>
              <td>Photo</td>
              <td></td>
              <td><div class="form-group ">
                    <input type="file" accept="image/*" image="image" name="logo" id="uploadImage" class="choose-photo" resize-max-height="200" resize-max-width="200" resize-quality="0.7"/>
                    <img ng-show="false" id="newLogo" ng-src="{{image.resized.dataURL}}" width="150px" height="150px"/>
                  </div></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td><button class="btn btn-primary" ng-click="customer_edit(currentUser)">Submit</button></td>
            </tr>
          </tbody>
      </table> 
    </form>
  </div>
</div>