<div class = "container">
    <div class="search-page">
		<div class="row">
            <div class="col-md-8">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control input-lg" placeholder="Search Cleaner By Name" ng-model = "search" ng-change = "searchCleanerByName(search);"/>
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="button">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                    <div>
             	        <div ng-repeat = "cleaner in cleanerData"> 
             	            <div class="row cleaner-list">
             	                <div class = "col-md-5">            	  	
             	  	                <a href="#/cleaner_profiles/{{cleaner.$id}}/home-smile-cleaners" title="Cleaner Profile"><img src = {{cleaner.cleaner_logo}}></a>
                                </div>
                                <div class = "col-md-6">    
                                    <table class = "table">
                                    	<tr>
                                    	    <td>Name</td>
                                    		<td><i>{{cleaner.firstname}} {{cleaner.lastname}}</i></td>
                                    	</tr>
                                    	<tr>
                                    	     <td>Company Name</td>
                                    		<td><i>{{cleaner.company_name}}</i></td>                    		
                                    	</tr>
                                    	<tr>
                                    	    <td>Address</td>
                                    		<td><i>{{cleaner.address1}}, {{cleaner.address2}} {{cleaner.city}}</i> </td>
                                    		
                                    	</tr>
                                    	<tr>
                                    	    <td>Month in Business</td>
                                    		<td><i>{{cleaner.month_in_business}}</i> </td>                    		
                                    	</tr>
                                    	<tr>
                                    	    <td>Team Member</td>
                                    		<td><i>{{cleaner.team_member}} </i></td>                    		
                                    	</tr>
                                    </table>        
                                </div>
             	            </div>
                        </div>
                    </div>
                </div>
	        </div>
        </div>
    </div>
</div>