<style>
.book-now{
	margin-top:12px;
}
.cleaner-profile-bg-color{
	background-color: #F1F1E2;
}
.cleaner_logo{
	 margin-top:13px;
}
.cleaner_info{
	 margin-left: 66px;
	 margin-top: 44px;
}
.cleaner-profile{
	 height: 675px; 
	 margin-top: 60px;
}
.fixed-img{
	 height: 172px; 
	 margin-top: 16px; 
	 margin-left: 50px;
}
.cleaner-tab{
     height: 500px;
     margin-top: 10px;
}
.custom-table{
      width:70%;
 }
</style>
<div class="container">
	<div class="row">
		<div class="col-sm-8 cleaner-profile">
			<div class="row cleaner-profile-bg-color">
				<div class="col-sm-4">
					<img src = {{clanerProfile.cleaner_logo}} class="cleaner_logo">
				</div>
				<div class="col-sm-8">
					<h2>{{clanerProfile.firstname}} {{clanerProfile.lastname}}</h2>
					<p>Hours Of Operation:</p>
					<div>
						 <table>
					        <tr ng-repeat='Availability in Availabilities'>
					            <td>{{Availability.day}}</td>
					            <td>{{Availability.fromTime}}</td>
					            <td>{{Availability.toTime}}</td>
					        </tr>
					    </table>
					</div>
				</div>
			</div>
			<div class="row cleaner-tab-my-profile">
				<form class="form-horizontal">
				    <ul class="nav nav-tabs">
				        <li ng-repeat="step in steps1" ng-class="{active: $index==getCurrentStepIndex1()}">
				          <a href="javascript:void(0)" ng-click="goToStep1($index)">{{step}}</a>
				        </li>
				    </ul>

			        <div ng-switch on="selection1">

				        <!-- First Step -->
				        <div ng-switch-when="Reviews">
				             <div class="col-sm-10"><h2>You Do not have any review right now</h2></div>
				              <div class="col-sm-2">
				              </div>
				        </div>

				        <!-- Second Step -->
				        <div ng-switch-when="About">
				        	<div class="cleaner_info">
			        			<!-- <h4>{{clanerProfile.cleaner_about_us}}</h4> -->
			        			<textarea ng-model="clanerProfile.cleaner_about_us" style="width: 60%; height: 15em;"></textarea><br><br>
                            	<button ng-show="save" class="btn btn-primary" ng-click="saveCleanerAbout()">Save</button>
                            	<button ng-show="update" class="btn btn-primary" ng-click="saveCleanerAbout()">Update</button>
				        	</div>
				        </div>

				        <!-- Thired Step -->
				        <div ng-switch-when="What's Included">
				        	<div class="cleaner_info">				        		
				        	<form name="cleanerForm1">
						      <table class="table custom-table">
						        <tbody>
					            <tr>
					              <td>General</td>
					              <td></td>
					              <td><div>
					                    <input type="checkbox"  ng-model="generalServices.general1" ng-checked="services[0].general[0].general1"> &nbsp; Appliance exteriors cleaned (interiors upon request)<br>
						                    <input type="checkbox"  ng-model="generalServices.general2" ng-checked="services[0].general[0].general2"> &nbsp;Microwave exterior/interior cleaned<br>
						                    <input type="checkbox" ng-model="generalServices.general3" ng-checked="services[0].general[0].general3"> &nbsp;Tables and chairs cleaned<br>
						                    <input type="checkbox"  ng-model="generalServices.general4" ng-checked="services[0].general[0].general4"> &nbsp;Counter tops and back splash disinfected (all items removed and replaced)<br>
						                    <input type="checkbox"  ng-model="generalServices.general5" ng-checked="services[0].general[0].general5"> &nbsp;Cabinet fronts cleaned<br>
						                    <input type="checkbox"  ng-model="generalServices.general6" ng-checked="services[0].general[0].general6"> &nbsp;Sinks scrubbed and disinfected (dishes upon request)<br>
						                    <input type="checkbox"  ng-model="generalServices.general7" ng-checked="services[0].general[0].general7"> &nbsp;Floor vacuumed and/or washed<br>
						                    <input type="checkbox"  ng-model="generalServices.general8" ng-checked="services[0].general[0].general8"> &nbsp;Windowsills cleaned (blinds dusted upon request)<br>
						                    <input type="checkbox"  ng-model="generalServices.general9" ng-checked="services[0].general[0].general9"> &nbsp;Baseboards dusted<br>
						                    <input type="checkbox" ng-model="generalServices.general10" ng-checked="services[0].general[0].general10"> &nbsp;Trash emptied<br>
						                  </div></td>
						        </tr>
						        <tr>
							          <td>Bathrooms</td>
							          <td></td>
							          <td><div>
							                <input type="checkbox"  ng-model="bathroomServices.bathroom1" ng-checked="services[0].bathroom[0].bathroom1"> &nbsp;Tub and shower tiles scrubbed, disinfected and rinsed<br>
							                <input type="checkbox" ng-model= "bathroomServices.bathroom2" ng-checked="services[0].bathroom[0].bathroom2"> &nbsp;Toilets disinfected inside and out<br>
							                <input type="checkbox"  ng-model="bathroomServices.bathroom3" ng-true-value="'true'" ng-checked="services[0].bathroom[0].bathroom3"> &nbsp;Towels neatly hung and folded<br>

							                <input type="checkbox"  ng-model="bathroomServices.bathroom4" ng-checked="services[0].bathroom[0].bathroom4"> &nbsp;counter tops disinfected (all items removed and replaced)<br>
							                <input type="checkbox"  ng-model="bathroomServices.bathroom5" ng-checked="services[0].bathroom[0].bathroom5"> &nbsp;Cabinet fronts cleaned<br>
							                <input type="checkbox"  ng-model="bathroomServices.bathroom6" ng-checked="services[0].bathroom[0].bathroom6"> &nbsp;Sinks scrubbed and disinfected<br>
							                <input type="checkbox"  ng-model="bathroomServices.bathroom7" ng-checked="services[0].bathroom[0].bathroom7"> &nbsp;Floors vacuumed and/or washed<br>
							                <input type="checkbox"  ng-model="bathroomServices.bathroom8" ng-checked="services[0].bathroom[0].bathroom8"> &nbsp;Windowsills cleaned (blinds dusted upon request)<br>
							                <input type="checkbox"  ng-model="bathroomServices.bathroom9" ng-checked="services[0].bathroom[0].bathroom9"> &nbsp;Trash emptied<br>
							                <input type="checkbox"  ng-model="bathroomServices.bathroom10" ng-checked="services[0].bathroom[0].bathroom10"> &nbsp;Mirrors cleaned<br>
							              </div></td>
							        </tr>
							        <tr>
							          <td>Bedrooms</td>
							          <td></td>
							          <td><div>
							                <input type="checkbox"  ng-model="bedroomServices.bedroom1" ng-checked="services[0].bedroom[0].bedroom1"> &nbsp;Beds made (linens changed upon request)<br>
							                <input type="checkbox"  ng-model="bedroomServices.bedroom2" ng-checked="services[0].bedroom[0].bedroom2"> &nbsp;Lamps cleaned and lampshades dusted<br>
							                <input type="checkbox"  ng-model="bedroomServices.bedroom3" ng-checked="services[0].bedroom[0].bedroom3"> &nbsp;Furniture dusted - top, front and underneath<br>
							                <input type="checkbox"  ng-model="bedroomServices.bedroom4" ng-checked="services[0].bedroom[0].bedroom4"> &nbsp;Floors vacuumed and/or washed (under bed if accessible)<br>

							                <input type="checkbox"  ng-model="bedroomServices.bedroom5" ng-checked="services[0].bedroom[0].bedroom5"> &nbsp;Windowsills cleaned (blinds dusted upon request)<br>

							                <input type="checkbox"  ng-model="bedroomServices.bedroom6" ng-checked="services[0].bedroom[0].bedroom6"> &nbsp;Baseboards dusted<br>

							                <input type="checkbox"  ng-model="bedroomServices.bedroom7" ng-checked="services[0].bedroom[0].bedroom7"> &nbsp;Fingerprints removed from all woodwork, door frames and switch plates<br>

							                <input type="checkbox"  ng-model="bedroomServices.bedroom8" ng-checked="services[0].bedroom[0].bedroom8">&nbsp;Windowsills cleaned (blinds dusted upon request)<br>
							                <input type="checkbox"  ng-model="bedroomServices.bedroom9" ng-checked="services[0].bedroom[0].bedroom9">&nbsp;Trash emptied<br>

							                <input type="checkbox"  ng-model="bedroomServices.bedroom10" ng-checked="services[0].bedroom[0].bedroom10">&nbsp;Mirrors cleaned<br>
							              </div></td>
							        </tr>
							        <tr>
							          <td>&nbsp;Other Living Areas, including Hallways and Stairs</td>
							          <td></td>
							          <td><div>
							                <input type="checkbox"  ng-model="livingAreaServices.other_living_area1" ng-checked="services[0].livingArea[0].other_living_area1">&nbsp;Upholstered furniture vacuumed<br>
							                <input type="checkbox"  ng-model="livingAreaServices.other_living_area2" ng-checked="services[0].livingArea[0].other_living_area2">&nbsp;Cushions and pillows fluffed and straightened<br>
							                <input type="checkbox"  ng-model="livingAreaServices.other_living_area3" ng-checked="services[0].livingArea[0].other_living_area3">&nbsp;Lamps cleaned and lampshades dusted<br>
							                <input type="checkbox"  ng-model="livingAreaServices.other_living_area4" ng-checked="services[0].livingArea[0].other_living_area4">&nbsp;Furniture dusted - on top, on front and underneath<br>
							                <input type="checkbox"  ng-model="livingAreaServices.other_living_area5" ng-checked="services[0].livingArea[0].other_living_area5">&nbsp;Hardwood floors vacuumed and/or washed<br>
							                <input type="checkbox"  ng-model="livingAreaServices.other_living_area6" ng-checked="services[0].livingArea[0].other_living_area6">&nbsp;Tile floors vacuumed and/or washed<br>
							                <input type="checkbox" ng-model="livingAreaServices.other_living_area7" ng-checked="services[0].livingArea[0].other_living_area7">&nbsp;Hallways and stairs vacuumed and/or washed<br>
							                <input type="checkbox"  ng-model="livingAreaServices.other_living_area8" ng-checked="services[0].livingArea[0].other_living_area8">&nbsp;Carpets vacuumed<br>
							                <input type="checkbox"  ng-model="livingAreaServices.other_living_area9" ng-checked="services[0].livingArea[0].other_living_area9">&nbsp;Windowsills cleaned (blinds dusted upon request)<br>
							                <input type="checkbox" ng-model="livingAreaServices.other_living_area10" ng-checked="services[0].livingArea[0].other_living_area10">&nbsp;Baseboards dusted<br>
							                <input type="checkbox" ng-model="livingAreaServices.other_living_area11" ng-checked="services[0].livingArea[0].other_living_area11">&nbsp;Trash emptied
							                <input type= "text" ng-model="serviceID"><br>
							              </div></td>
							        </tr>
							        <tr>
							          <td></td>
							          <td><button ng-if="services[0].$id"class="btn btn-primary" ng-controller="ServicesController" ng-click="updateServices()">Update</button></td>
							          <td><br><button ng-if="!services[0].$id"class="btn btn-primary" ng-controller="ServicesController" ng-click="saveServices()">Submit</button></td>
							        </tr>
					           </tbody>
					        </table>
					     </form>
						</div>				        		
					  </div>
				        <!-- Fourth Step -->
				        <div ng-switch-when="Pricing">
				        	<div class="cleaner_info">							
							    <form name="cleanerForm" >
							      <table class="table custom-table">
							          <tbody>
							            <tr>
							              <td>Weekly</td>
							              <td></td>
							              <td><div class="form-group" ng-class="{'has-error': cleanerForm.weekly.$dirty && cleanerForm.weekly.$invalid, 'has-success': !cleanerForm.weekly.$invalid}">
							                    <input class="form-control" ng-pattern = "/^\d+$/" ng-model="charges.weekly" maxlength="10" type="number" name="weekly"/>
							                    <span class="text-danger" ng-show="cleanerForm.weekly.$error.pattern">Weekly Required only 0_9 digit.</span>
							                  </div></td>
							            </tr>
							            <tr>
							              <td>Every 2 Weeks</td>
							              <td></td>
							              <td><div class="form-group" ng-class="{'has-error': cleanerForm.biweekly.$dirty && cleanerForm.biweekly.$invalid, 'has-success': !cleanerForm.biweekly.$invalid}">
							                    <input class="form-control" ng-pattern="/^\d+$/" ng-model="charges.every_two_weeks" type="number" name="biweekly"/>
							                    <span class="text-danger" ng-show="cleanerForm.biweekly.$error.pattern">Every 2 weeks Required only 0_9 digit.</span>
							                  </div></td>
							            </tr>
							            <tr>
							              <td>Every 4 Weeks</td>
							              <td></td>
							              <td><div class="form-group" ng-class="{'has-error': cleanerForm.every_four_weeks.$dirty && cleanerForm.every_four_weeks.$invalid, 'has-success': !cleanerForm.every_four_weeks.$invalid}">
							                    <input class="form-control"  ng-model="charges.every_four_weeks" maxlength="10" type="number" name="every_four_weeks" ng-pattern="/^\d+$/"/>
							                  <span ng-show="cleanerForm.every_four_weeks.$error.email" class="text-danger">Every 4 Weeks Required Only 0-9 digit</span>
							                  </div></td>
							            </tr>
							            <tr>
							              <td>One Time</td>
							              <td></td>
							              <td><div class="form-group" ng-class="{'has-error': cleanerForm.onetime.$dirty && cleanerForm.onetime.$invalid, 'has-success': !cleanerForm.onetime.$invalid}">
							                    <input class="form-control" ng-model="charges.one_time" type="number" name="onetime" ng-pattern = "/^\d+$/"/>
							                    <span ng-show="cleanerForm.onetime.$error.pattern" class="text-danger">One Time required only 0-9 symbols.</span>
							                  </div>
                                                <input type= "hidden" ng-model="charges.$id">
                                                 <input type= "hidden" ng-model="charges.cleaner_id">
							                  </td>
							            </tr>
							            <tr>
							              <td></td>
							              <td><button ng-if="!charges.$id" ng-controller= "ChargesController" class="btn btn-primary" ng-click="saveCharges(charges)">Save</button></td>
							              <td><button ng-if="charges.$id" ng-controller= "ChargesController" class="btn btn-primary" ng-click="UpdateCharges(charges)">Update</button></td>
							            </tr>
							          </tbody>
							      </table> 
							    </form>
							</div>
				        </div>
			        </div>
			    </form>
			</div>
		</div>		
	</div>
</div>