<style type="text/css">
    .container.cleaner-profile.ng-scope {
        margin-left: 55px;
        margin-right: 123px;
        margin-top: 92px;
        padding-left: 195px;
        padding-right: 197px;
      }
      .form-control-edit{
  width: 50%;
}
.col-sm-2 {
    width: 69.667%;
}
.col-sm-1 {
    width: 21.333%;
}
.btn-block {
    margin-top: 16px;
}
</style>
<div class = "container cleaner-profile">

  <div class="col-sm-2"><h2>Your Profile</h2></div>
            <div class="col-sm-1">
                <a href='#/cleaner-edit/{{currentUser.$id}}'><button class="btn btn-block btn-primary btn-lg" >Edit Account</button></a>
            </div><br/>

            <table class="table">
              <tbody>
                <tr>
                  <td>Name</td>
                  <td></td>
                  <td>{{currentUser.firstname}} {{currentUser.lastname}}</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td></td>
                  <td>{{currentUser.email}}</td>
                </tr>
                <tr>
                  <td>Phone No</td>
                  <td></td>
                  <td>{{currentUser.phone}}</td>
                </tr>
                <tr>
                  <td>Company Name</td>
                  <td></td>
                  <td>{{currentUser.company_name}}</td>
                </tr>                
                <tr>
                  <td>Address</td>
                  <td></td>
                  <td>{{currentUser.address1}} {{currentUser.address2}}</td>
                </tr>
                <tr>
                  <td>City</td>
                  <td></td>
                  <td>{{currentUser.city}}</td>
                </tr>
                <tr>
                  <td>State</td>
                  <td></td>
                  <td>{{currentUser.state}}</td>
                </tr>
                <tr>
                  <td>Zip Code</td>
                  <td></td>
                  <td>{{currentUser.zip_code}}</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td></td>
                  <td>{{currentUser.month_in_business}} Months</td>
                </tr><tr>
                  <td>Email</td>
                  <td></td>
                  <td>{{currentUser.team_member}}</td>
                </tr>

                <tr>
                  <td>Photo</td>
                  <td></td>
                  <td><div>
                          <img id="newLogo" ng-src="{{currentUser.cleaner_logo}}" width="97px" height="80px"/>
                      </div></td>
                </tr>
              </tbody>
            </table>
          </div>
        